body {
    background-color: #f0f0f0;
    color: #333;

}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

.button {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px;
}

#grey {
    background-color: grey;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
    padding-top: 30px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}