* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(55, 55, 55, 0.1);
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(244, 239, 239);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(246, 242, 242);
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(124, 123, 123);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
} 

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    max-width: 600px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #815959;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
button:hover {
    background-color: #a86b6b;
}