* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 380px;
    background-color: rgb(238, 236, 231);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transtion: 0.3s;
}

.card:hover {
    transform:translateY(-10px);
    transform:scaleX(1.05);
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 1opx 0 0;
}

.card h2 {
   margin: 15px 0 5px;
}

.card p {
    color: #555;
    font-size: 14px;
    padding: 0 15px 15px;
}

.card button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #0056b3;
}